# Pandas 

Pada modul kali ini, kita akan belajar menggunakan library Pandas untuk melakukan berbagai pengolahan data.

**Petunjuk pengerjaan:**

*   Buatlah salinan project berikut dengan memilih menu **File - Download**
*   Simpanlah file *.ipynb tersebut di Jupyter Notebook kamu. 
*   Lalu kerjakan latihan-latihan di bawah ini.

**Petunjuk pengumpulan:**

*   Setelah selesai mengerjakan, uploadlah file *.ipynb tersebut ke e-learning yang digunakan di kelas ATAU simpan di GDrive kamu, lalu kumpulkan link-nya.
*   Kamu bertanggung jawab penuh untuk mengumpulkan link project di tugas yang bersesuaian.
*   Tidak ada protes untuk nilai yang menjadi nol jika link tidak sesuai dengan slot tugas.

Pertama, kita akan membaca sebuah file bertipe *.csv dan menjadikannya dataframe, kemudian menampilkan 5 baris teratas dari dataframe tersebut.

Kamu dapat mengunduh file [automobile_data.csv](https://drive.google.com/file/d/1tDQptRRAI0vckBBWHakIAXcKKGsF4x9e/view?usp=sharing) di Google Classroom, kemudian simpan *.csv tersebut di folder Jupyter Notebook kamu. Sesuaikan path read_csv pada program di bawah dengan folder penyimpanan kamu. Perhatikan pada file path, ganti '/' dengan '\\' seperti pada contoh di bawah (#1).

In [ ]:
#1
#Membaca sebuah file bertipe *.csv dan menjadikannya dataframe, kemudian menampilkan 5 baris teratas dari dataframe tersebut
import pandas as pd
df = pd.read_csv("C:\\User\\Drill\\automobile_data.csv")
df.head(5)

Coba tampilkan 5 baris terakhir dari dataframe tersebut seperti contoh kode program berikut ini (#2).

In [ ]:
#2
#Menampilkan 5 baris terakhir dari dataframe tersebut
import pandas as pd
df = pd.read_csv("D:\\Python\\Drill\\automobile_data.csv")
df.tail(5)

# Missing Values
Untuk menjaga konsistensi representasi data, mari kita ganti nilai yang hilang (missing values) dengan representasi yang sama (NaN) kemudian mengupdate file *.csv-nya (#3).

In [ ]:
#3
#Mengganti missing values dengan NaN
df = pd.read_csv("D:\\Python\\Drill\\automobile_data.csv", na_values={
'price':["?","n.a"],
'stroke':["?","n.a"],
'horsepower':["?","n.a"],
'peak-rpm':["?","n.a"],
'average-mileage':["?","n.a"]})
print (df)

df.to_csv("D:\\Python\\Drill\\automobile_data.csv")

# Filter Data

Mari kita tampilkan informasi nama perusahaan dan harga dari mobil termahal pada dataset ini (#4).

In [ ]:
#4
#Menampilkan informasi nama perusahaan dan harga dari mobil termahal 
import pandas as pd
df = pd.read_csv("D:\\Python\\Drill\\automobile_data.csv")
df = df [['company','price']][df.price==df['price'].max()]
df

# Mengelompokkan Data

Dari data ini, misalnya kita ingin mengelompokkan data berdasarkan nilai dari kolom tertentu, lalu menampilkan data dari kelompok tertentu saja. 

Perhatikan contoh berikut untuk menampilkan data mobil dari perusahaan Toyota saja (#5).

In [ ]:
#5
#Menampilkan data mobil Toyota 
import pandas as pd

df = pd.read_csv("D:\\Python\\Drill\\automobile_data.csv")
car_Manufacturers = df.groupby('company')
toyotaDf = car_Manufacturers.get_group('toyota')
toyotaDf

# Menghitung Data

Berdasarkan kolom nama perusahaan, kita dapat menghitung berapa banyak data yang dikelompokkan berdasarkan nama perusahaan. 

Lihat contoh program di bawah (#6) untuk memperjelas.

In [ ]:
#6
#Menghitung banyak data berdasarkan kelompok tertentu 
import pandas as pd
df = pd.read_csv("D:\\Python\\Drill\\automobile_data.csv")
df['company'].value_counts()

Setelah data dikelompokkan berdasarkan perusahaan, contoh program di bawah (#7) menampilkan data dengan harga tertinggi dari masing-masing kelompok (perusahaan).

In [ ]:
#7
#Menampilkan data dengan harga tertinggi dari masing-masing kelompok (perusahaan).
import pandas as pd

df = pd.read_csv("D:\\Python\\Drill\\automobile_data.csv")
car_Manufacturers = df.groupby('company')
priceDf = car_Manufacturers['company','price'].max()
priceDf

Setelah data dikelompokkan berdasarkan perusahaan, contoh program di bawah (#8) menampilkan data rata-rata mile dari masing-masing kelompok perusahaan.

In [ ]:
#8
#Menampilkan rata-rata mile dari masing-masing kelompok perusahaan
import pandas as pd

df = pd.read_csv("D:\\Python\\Drill\\automobile_data.csv")
car_Manufacturers = df.groupby('company')
mileageDf = car_Manufacturers['company','average-mileage'].mean()
mileageDf

# Mengurutkan Data
Kita dapat mengurutkan data berdasarkan nilai tertentu. 

Pada contoh di bawah (#9), kita urutkan data berdasarkan harga kemudian berdasarkan nilai horsepower secara mengecil.

In [ ]:
#9
#Sort all cars by Price column
import pandas as pd

carsDf = pd.read_csv("D:\\Python\\Drill\\automobile_data.csv")
carsDf = carsDf.sort_values(by=['price', 'horsepower'], ascending=False)
carsDf.head(5)

# Data Concat

Dalam Pandas, kita dapat menggabungkan dua data frame dengan beberapa perintah berbeda. Pada contoh di bawah, digunakan perintah concat pada dua buah data frame yang dibuat dari dua buah dictionary. Pada contoh ini, dibuat keys berbeda untuk masing-masing data frame.

Pada contoh program di bawah, digunakan concat untuk menggabungkan dua data frame secara vertikal. Artinya, data frame kedua akan ditambahkan setelah baris terakhir dari data frame pertama. Perhatikan contoh program berikut ini (#10).

In [ ]:
#10
#Membuat dua data frames dari dua dictionaries, melakukan concat baris dari dua data frames, dan membuat key untuk masing-masing data frame.
import pandas as pd

germanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
carsDf1 = pd.DataFrame.from_dict(germanCars)

japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}
carsDf2 = pd.DataFrame.from_dict(japaneseCars)

carsDf = pd.concat([carsDf1, carsDf2], keys=["Germany", "Japan"])
carsDf

# Data Merge

Seperti dikatakan sebelumnya bahwa dalam Pandas, kita dapat menggabungkan dua data frame dengan beberapa perintah berbeda. Pada contoh di bawah (#11), digunakan perintah merge untuk menggabungkan dua buah data frame yang dibuat dari dua buah dictionary. Pada contoh ini, dibuat keys berbeda untuk masing-masing data frame.

Perintah merge menggabungkan dua data frame secara horizontal. Artinya, kolom pada dataframe kedua akan ditambahkan sebagai kolom baru di data frame pertama berdasarkan nilai key yang ditulis pada argumen (Pada contoh di bawah, berdasarkan nama perusahaan). Pelajari slide kuliah untuk melihat berbagai jenis tipe concat, merge, & join!

In [ ]:
#11
#Menciptakan dua data frame dari dua dictionaries, melakukan merge keduanya untuk menambahkan data frame kedua sebagai kolom baru di data frame pertama.
import pandas as pd

car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
carPriceDf = pd.DataFrame.from_dict(car_Price)

car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}
carsHorsepowerDf = pd.DataFrame.from_dict(car_Horsepower)

carsDf = pd.merge(carPriceDf, carsHorsepowerDf, on="Company")
carsDf

# Tugas

Dengan menggunakan dictionaries pada program #11, lakukan merge dengan perbedaan pada parameter how. Perhatikan perbedaannya!

*   #12: how = 'left'
*   #13: how = 'right'
*   #14: how = 'outer'
*   #15: how = 'inner'

In [ ]:
#12
#Merge dictionies #11 dengan parameter how = 'left'

In [ ]:
#13
#Merge dictionies #11 dengan parameter how = 'right'

In [ ]:
#14
#Merge dictionies #11 dengan parameter how = 'outer'

In [ ]:
#15
#Merge dictionies #11 dengan parameter how = 'inner'